:root {
  --primary: #6366F1;
  --secondary: #22C55E;
  --dark: #0F172A;
  --light: #F9FAFB;
  --gray: #64748B;
  --border: #E5E7EB;    
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--light);
  color: var(--dark);
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
   
   
  
}
p{
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Inter', sans-serif;
  color: var(--dark);


}
button {
 
  background-color: var(--secondary);
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.bnt-lead{
  margin-top: 10px;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background: #f4f4f4;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  text-align: center;
}

.header a {
  position: relative;

}

.header a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary);
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.header a:hover::after {
  width: 100%;
}


.logo {
  height: 70px;
}
.logotipo{
  width: 180px;

}

.nav {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  margin-left: auto;
  
}

.nav a:hover {
  color: var(--primary);
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  margin-left: auto;
}

ul{
  list-style: none;
 
}

li{
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
}

/* MAIN */
main {
  padding-top: 70px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10%;
  background: linear-gradient(135deg, var(--primary), #818CF8);
  color: white;
}
.hero button {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  background: var(--secondary);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.hero-image img {
  width: 350px;
}

/* BENEFITS */
.benefits {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition:all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 80%;
  margin-bottom: 20px;
}
.title-card{
   color:rgb(140, 45, 188);
}

/* ABOUT */
.about {
  padding: 60px 20px;
  text-align: center;
  background: #6365f132;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.about-text {
  flex: 1;
  border-radius: 60px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px 20px;
  background-color: #6365f15c;
  color:rgb(140, 45, 188);
  
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 100%;
  width: 320px;
  border-radius: 12px;
}

/* PRICE */
.price {
  padding: 60px 20px;
  text-align: center;
}

.price span {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary);
}
input {
  padding: 10px 10px;
  width: 250px;
  border: 1px solid var(--border);
  border-radius: 8px;
  margin-right: 10px;
}
form{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  background: var(--dark);
  color: white;
  text-align: center;
  padding: 20px;
}
.footer p{
  color: white;
}
.footer a{
  text-decoration: none;
  color: var(--secondary);

}

/* MOBILE MENU */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background: #f4f4f4;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;

    z-index: 999;
  }

  .nav.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .benefits {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 260px;
    margin-top: 20px;
  }
}
